@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500, 700;
  font-style: normal;
  max-width: 1440px;
}
.container-1 {
  display: flex;
 margin: 6rem;
 
}
.productivity-container {
    margin-left: 5rem;
}
.productivity-container h1 {
  font-size: 3.5rem;
}
.productivity-container p {
  line-height: 1;
  margin-top: 2rem;
  padding-right: 17rem;
  text-align: justify;
}
.rating-container {
 margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.rating {
    
  display: flex;
  align-items: center;
  background-color: rgb(248, 243, 253);
  border-radius: 8px;
  padding: 10px 15px;
  width: fit-content;
  width: 23rem;
  height: 3.4rem;
}
.rating .stars {
  color: #f6b54a;
  margin-right: 2rem;
}
.rating .text {
  font-size: 16px;
  color: #4b3a7f;
  
}
#second {
margin-left: 4rem;
}
#third {
margin-left: 9rem;
}
.container-2 {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}
.messages {
  background-color: hsl(300, 43%, 22%);
  color: #fff;
  width: fit-content;
  height: 13rem;
  width: 21rem;
  padding: 30px;
  border-radius: 8px;
  border: 1px;
  align-items: center;
  line-height: 1.1;
}
.user-name {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 20px;
}
.messages img {
  height: 40px;
  border-radius: 50%;
}
#verified {
  color: hsl(303, 10%, 53%);
}
.text-container {
  text-align: justify;
}
#first-text{
    margin-top: 0;
}
#second-text{
    margin-top: 1rem;
}
#third-text{
    margin-top: 2rem;
}
@media (max-width: 375px){
    .container-1 {
        display: block;
       margin: 2rem;
       text-align: center;
      }
      .productivity-container {
          margin-left: 0;
      }
      .productivity-container h1 {
        font-size: 2.3rem;
      }
      .productivity-container p {
        line-height: 1;
        margin-top: 1rem;
        padding-right: 0;
        text-align: justify;
      }
      .rating-container {
       margin-top: 2rem;
        flex-direction: column;
        gap: 1rem;
      }
      .rating {
        display: block;
        align-items: center;
        background-color: rgb(248, 243, 253);
        border-radius: 8px;
        padding: 10px 15px;
        width: fit-content;
        width: 18rem;
        height: 3.4rem;
      }
      .rating .stars {
        color: #f6b54a;
        margin-right: 2rem;
      }
      .rating .text {
        font-size: 16px;
        color: #4b3a7f;
      }
      #second {
      margin-left: 0;
      }
      #third {
      margin-left: 0;
      }
      .container-2 {
        display: block;
        gap: 2.5rem;
        justify-content: center;
        margin-left: 1rem;
        max-width: 375px;
      }
      .messages {
        background-color: hsl(300, 43%, 22%);
        color: #fff;
        width: fit-content;
        height: 13rem;
        width: 21rem;
        padding: 30px;
        border-radius: 8px;
        border: 1px;
        align-items: center;
        line-height: 1.1;
      }
      .user-name {
        display: flex;
        gap: 1.2rem;
        margin-bottom: 20px;
      }
      .messages img {
        height: 40px;
        border-radius: 50%;
      }
      #verified {
        color: hsl(303, 10%, 53%);
      }
      .text-container {
        text-align: justify;
      }
      #first-text{
          margin-top: 0;
      }
      #second-text{
          margin-top: 1rem;
      }
      #third-text{
          margin-top: 2rem;
      }
}